<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
        
     
     <bean id="student" class="com.tom.myFirstRepository.beans.Student">
     	<property name="userName" value="Tong"></property>
     	<property name="age" value="18"></property>
     </bean>
     
     <bean id="StudentServiceImpl" class="com.tom.myFirstRepository.service.impl.StudentServiceImpl" autowire="constructor">
     	<!-- <property name="dao" ref="userInfoDaoImpl"></property> -->
     </bean>
     
     <bean id="StudentDaoImpl" class="com.tom.myFirstRepository.dao.impl.StudentDaoImpl"></bean>
 </beans>       